@media (min-width: 1200px){
	.container{
		max-width: 60% !important;
	}
}
.nome{
	color: #388bd1;
}
.me {
	display: block;
	margin: 0.5em auto;
	width: 150px;
	height: 150px;
	border-radius: 5%;
	position: relative;
	z-index: 2;
  }
  
  .social {
	text-align: center;
	font-size: 2.5em;
	color: #555;
	overflow: hidden;
  }

  body{
	font-family: 'Share Tech Mono', monospace;
  }
  .home-demo .item img{
	background: #ffd800;
	border-radius: 4px;
	padding: 11px;
  }
  .home-demo .item{
	background: none !important;
  }
  .tel{
	background: #388bd1;
	border-radius: 4px;
  }
  .tel a h5{
	color: #fff;
  }
  .fa-phone-square{
	font-size: 1.6em !important;
  }
  .contador p{
	color: #fff;
	font-family: 'Turret Road', cursive;
  }
  section{
	margin-bottom: 1em;
	border-bottom: 1px solid #dae9f5;
  }
  .faco{
	background: #388bd1;
	padding: 0.5em;
	border-radius: 4px;
	color: #fff;
	border: none;
  }
  .linha-faco{
	border: 1px solid #388bd1;
	padding: 3px;
	background-color: white;
  }
  .faco h4, .faco p{
	color: #fff;
  }
  .row{
	margin: 0 auto !important;
  }
  .portifolio{
	margin-top: 2em;
  }
  .portifolio-card{
	padding: 15px !important;
	margin-bottom: 13px;
  }
  .context-dark, .bg-gray-dark, .bg-primary {
	color: rgba(255, 255, 255, 0.8);
  }
  .footer-classic a, .footer-classic a:focus, .footer-classic a:active {
	color: #ffffff;
  }
  .footer-classic{
	padding-top: 18px;
  }
  .nav-list li {
	padding-top: 5px;
	padding-bottom: 5px;
  }
  .nav-list li a:hover:before {
	margin-left: 0;
	opacity: 1;
	visibility: visible;
  }
  ul, ol {
	list-style: none;
	padding: 0;
	margin: 0;
  }
  .social-inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 23px;
	font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	text-transform: uppercase;
	color: #388bd1 !important;
  }
  .social-container .col {
	border: 1px solid rgba(255, 255, 255, 0.1);
	background: #fff;
  }

  .nav-list li a:before {
	content: "\f14f";
	font: 400 21px/1 "Material Design Icons";
	color: #4d6de6;
	display: inline-block;
	vertical-align: baseline;
	margin-left: -28px;
	margin-right: 7px;
	opacity: 0;
	visibility: hidden;
	transition: .22s ease;
  }
  .nome{
	font-family: 'Noto Sans TC', sans-serif;
  }

  p span{
	  color: #fff;
  }